[Desktop Entry]
Name=Fancy Panel
Name[da]=Fancy Panel
Name[en_GB]=Fancy Panel
Name[es]=Panel elegante
Name[et]=Vahva paneel
Name[fr]=Fancy Panel
Name[hr]=Fensi ploča
Name[km]=បន្ទះ​ប្រណិត
Name[nb]=Flott panel
Name[nds]=Smuck Paneel
Name[nl]=Fraai paneel
Name[pa]=ਫੈਂਸੀ ਪੈਨਲ
Name[pl]=Elegancki panel
Name[pt]=Painel Bonito
Name[pt_BR]=Painel Bonito
Name[sv]=Snygg panel
Name[tr]=Süslü Panel
Name[uk]=Красива панель
Name[x-test]=xxFancy Panelxx
Comment=A containment for a panel
Comment[cs]=Kontejner pro panel
Comment[da]=En beholder til et panel
Comment[de]=Ein Behältnis für eine Kontrollleiste
Comment[en_GB]=A containment for a panel
Comment[eo]=Panelujo
Comment[es]=Un contenedor para un panel
Comment[et]=Paneeli konteiner
Comment[fr]=Un conteneur pour un panneau
Comment[ga]=Coimeádán le haghaidh painéil
Comment[gl]=Un contedor para un panel
Comment[hr]=Sadržavatelj ploče
Comment[km]=ការ​ផ្ទុក​សម្រាប់​បន្ទះ
Comment[nb]=En beholder for et pane
Comment[nds]=En Gelaats för en Paneel
Comment[nl]=Een insluiting voor een paneel
Comment[pl]=Izolacja dla panelu
Comment[pt]=Um contentor para um painel
Comment[pt_BR]=Um contêiner para um painel
Comment[ro]=Container pentru un panou
Comment[sv]=En omgivning för en panel
Comment[tr]=Panel için bir tutucu
Comment[ug]=تاختا قاچىسى
Comment[uk]=Контейнер для панелі
Comment[x-test]=xxA containment for a panelxx
Icon=
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-ContainmentCategories=panel
NoDisplay=true

X-KDE-Library=plasma_containment_fancypanel
X-KDE-PluginInfo-Author=Michał Dutkiewicz aka Emdek
X-KDE-PluginInfo-Email=emdeck@gmail.com
X-KDE-PluginInfo-Name=fancypanel
X-KDE-PluginInfo-Version=0.5
X-KDE-PluginInfo-Website=http://emdek.cba.pl
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
